.pokemon-card {
  margin: 0px;
  border-radius: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  ion-card-header {
    padding: 0px;

    ion-card-title {
      font-size: 15px;
    }

    ion-card-subtitle {
      ion-row {
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }

      p {
        text-align: center;
        font-size: 12px;
      }
    }
  }

  ion-card-content {
    p {
      font-size: 10px;

      b {
        font-size: 7px;
      }
    }
  }
}

.order-number {
  position: absolute;
  left: 0;
  top: 0;
  margin: 15px;
  font-size: 12px;
}

.type-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font-size: 20px;
}
